[2022-01-07 11:30] hlevel commented on #863
@straumat  Hello, may I ask you two questions? :)

1. How to improve the back test efficiency? tickers-xrp-usdt. There are 47073 pieces of data in the TSV file. It is estimated that you can run 8 pieces in one second, which takes a total of 100 minutes. How can you improve the efficiency?

2. BackTesting a policy will load all *.tsv files must be run and completed before the back test is completed

[2022-01-07 11:35] straumat commented on #863
@hlevel Hi, can you please open a new issue with your request ? Thx

[2022-01-07 11:36] hlevel commented on #863
@straumat Okay, no problem.

[2022-01-07 11:40] hlevel opened #865 "On the efficiency of back testing?"
Hello, may I ask you two questions? :)

1.How to improve the back test efficiency? tickers-xrp-usdt. There are 47073 pieces of data in the TSV file. It is estimated that you can run 8 pieces in one second, which takes a total of 100 minutes. How can you improve the efficiency?

2.BackTesting a policy will load all *.tsv files must be run and completed before the back test is completed. Can you cha

[2022-01-08 21:21] #850 closed

[2022-01-08 21:39] straumat commented on #865
Hi!

- **Point 1**: sadly, I cannot parallelize the process, each ticker must be treated completely (with orders and trades created if needed) before reading another one... I see no way to optimize it.

- **Point 2** : Instead `await().forever().until(() -> tickerFluxMock.isFluxDone());`, you can do `await().forever().until(() -> tickerFluxMock.isFluxDone(new CurrencyDTO("XRP")));`.

[2022-01-08 22:36] straumat opened #869 "Bump bucket4j-core from 6.4.1 to 7.0.0"
Migrate from 6.4.1 to 7.0.0 - This new release breaks code

[2022-01-09 00:08] straumat commented on #808
@xblaatx for information, `public boolean isRunningInDryMode()` is now available on `5.0.8-SNAPSHOT` (develop branch)

[2022-01-09 00:08] #843 closed

[2022-01-09 01:17] hlevel commented on #865
Hi, I've tried to use the following code, which seems to end quickly without running.

`await().forever().until(() -> tickerFluxMock.isFluxDone(new CurrencyPairDTO(BTC, USDT)));`

**Console output:**
Cumulated gains:
Position closed:
Position not closed:

[2022-01-09 20:09] straumat commented on #865
@hlevel  you have to adapt my code and change the CurrencyPairDTO to the one you want to use

[2022-01-09 22:11] straumat commented on #863
Feature available in`5.0.8-SNAPSHOT`

[2022-01-10 05:50] hlevel commented on #865
Hi, I don't understand what you mean?
I've tried the code solution you gave, and it didn't work, use version 5.0.6

This is my process:
 [https://oscimg.oschina.net/oscnet/up-80f02b6785b8db220db4bae5c68a4eac6ee.jpg](url)

This source logic always seems to return true.
[https://oscimg.oschina.net/oscnet/up-854130820e374069a56e0a8896dd67f958c.jpg](url)

This method is successful.
[https://oscimg.osc

[2022-01-10 08:01] straumat commented on #865
@hlevel Is tickers-btc-usdt.tsv full ? can you attach the file ?
To debug things, can you add a log on onTickersUpdates() in your strategy to see if the tickers-btc-usdt.tsv file is really read ? thx

[2022-01-10 20:31] straumat commented on #865
@hlevel Indeed, there is an issue with my method `tickerFluxMock.isFluxDone(CurrencyPairDTO)` I will fix this as soon as I find where it comes from

[2022-01-10 21:14] straumat commented on #869
Something is missing in Bucket4j documentation to finish the migration, an issue is opened on that topic: [https://github.com/vladimir-bukhtoyarov/bucket4j/issues/214](https://github.com/vladimir-bukhtoyarov/bucket4j/issues/214)

[2022-01-10 21:50] straumat commented on #865
I think the issue is fixed now, it will be available in `5.0.8-SNAPSHOT` if this action executes correctly: [https://github.com/cassandre-tech/cassandre-trading-bot/actions/runs/1679646906](https://github.com/cassandre-tech/cassandre-trading-bot/actions/runs/1679646906)

[2022-01-11 10:41] hlevel commented on #865
OK, in addition, it is recommended to print the order information back, and then add the time information of when to place an order and when to sell. Without time information, it is difficult to compare the trend strategy chart!

[2022-01-11 13:32] #869 closed

[2022-01-11 15:01] straumat commented on #865
@hlevel I think you should use `p.getOpeningOrder()` and get the field you want. Some people think `getDescription()` already returns too much information.

[2022-01-14 08:28] hlevel commented on #865
@straumat  Hi,Share a piece of code for loading back test data and generating files, which can be integrated into the function

Get data load file:
[code]

Test:
[code]

[2022-01-14 09:10] hlevel commented on #865
Hello, you can add a more detailed method Let me show you an example:
[code]

[2022-01-15 10:21] straumat commented on #865
@hlevel can you provide the method code? We could indeed add a `getDetailedDescription()` method in `PositionDTO`. If you feel comfortable with it, you could do a PR

[2022-01-15 19:09] straumat opened #877 "Fix javac warnings"

[2022-01-15 20:19] #877 closed

[2022-01-16 05:39] hlevel commented on #865
I have no code for this detail. This paragraph is for other projects.

[2022-01-16 20:03] #865 closed

[2022-01-16 20:13] straumat commented on #863
I close. Reopen if any problem

[2022-01-16 20:13] #863 closed

[2022-01-16 20:15] straumat commented on #852
I close it for now, reopen if a problem occurs

[2022-01-16 20:15] #852 closed

[2022-01-16 20:20] straumat commented on #786
I close the issue, reopen if it doesn't work.

[2022-01-16 20:20] #786 closed

[2022-01-16 21:08] straumat commented on #686
The problem is now solved.

In `src/main/resources/application.properties`, change those parameters:
[code]

If Xchange did not close my [pull request](https://github.com/knowm/XChange/pull/4376), you have to download my [XChange release](https://github.com/straumat/XChange) and build it with: `mvn clean install -Dgpg.skip -Dmaven.test.skip=true`.

Then in your pom.xml, set this release:
[code]

Y

[2022-01-16 21:08] #686 closed

[2022-01-17 08:51] straumat opened #879 "Fix integration tests"
**Describe the bug**
Integration tests are failing on continuous integration

[2022-01-19 21:25] straumat opened #880 "Global code review"
- [x]  Starter - batch/AccountFlux.java
- [x]  Starter - batch/OrderFlux.java
- [x]  Starter - batch/PositionFlux.java
- [x]  Starter - batch/TickerFlux.java
- [x]  Starter - batch/TradeFlux.java
- [x]  Starter - configuration/DatabaseAutoConfiguration.java
- [x]  Starter - configuration/ExchangeAutoConfiguration.java
- [x]  Starter - configuration/ScheduleAutoConfiguration.java
- [x]  Starter - c

[2022-01-19 21:28] straumat opened #881 "Global test review"
- [x] Starter - test/CassandreTradingBot.java
- [x] Starter - test/core/batch/AccountFluxTest.java
- [x] Starter - test/core/batch/mocks/AccountFluxTestMock.java
- [x] Starter - test/core/batch/mocks/OrderFluxTestMock.java
- [x] Starter - test/core/batch/mocks/PositionLongFluxTestMock.java
- [x] Starter - test/core/batch/mocks/PositionShortFluxTestMock.java
- [x] Starter - test/core/batch/mocks/Ti

[2022-01-19 21:30] straumat opened #882 "Global archetypes review"
- [ ] basic-archetype
- [x] basic-ta4j-archetype

[2022-01-20 08:40] hlevel opened #884 "Error reading display of back test time zone."
Hi, make a small suggestion to solve the project better
`v5.0.7`

step1: The system sets the time zone to `Asia/Shanghai`
step2: Original data `1642608000` ,This value is read out after saving to the database, Eight extra hours:
`timestamp="2022-01-20T08:00+08:00[Asia/Shanghai]"`

Actual time:
`timestamp="2022-01-20T00:00+08:00[Asia/Shanghai]"`

Solution:
`spring.jpa.properties.hibernate.jdbc.time

[2022-01-20 11:29] hlevel opened #885 "Index ta4j BarSeries problem"
Hi, I found a problem through the back test. The prices in the BarSeries class are all the same. And I didn't set it.

My code:
[code]

The debugging process is very clear. You can see the closing price. Please see the attached picture,I wrote a JUnit to verify, The results are also attached.

Junit code:
[code]

[file_info.zip](https://github.com/cassandre-tech/cassandre-trading-bot/files/7904676

[2022-01-23 21:25] straumat commented on #884
@hlevel in fact, from what I understand each user should set its own `spring.jpa.properties.hibernate.jdbc.time_zone` to the same timezone of the files he downloaded. Am I right ?

[2022-01-23 21:34] straumat commented on #885
@hlevel i'm not sure to see where the problem is? It seems the data are wrong in your code and not in mine ? Can you tell me more. Thank you !

[2022-01-24 02:24] hlevel commented on #885
@straumat Do you mean that your code does not reproduce this problem?

`this.ctx = new BarContext(this.duration, timestamp, latestPrice, latestPrice, latestPrice, latestPrice, 0);`

Take a look at this method. It is required to pass the highest, lowest, opening and closing price. Here, only the closing price is passed

![image](https://oscimg.oschina.net/oscnet/up-5489997bc8ecf8c8471115ac280a17a21

[2022-01-24 02:35] hlevel commented on #884
@straumat I personally suggest that the project should have its own time setting parameters and avoid solving them with other framework settings, such as `cassandre.trading.bot.timezone=Asia/Shanghai`

[2022-01-26 19:25] #879 closed

[2022-01-26 20:40] straumat commented on #884
@hlevel I apreciate your idea but from what I read on forums, it should be the user of the program who set the right time zone in configuration as we are doing in Docker.

[2022-01-26 20:40] #884 closed

[2022-01-26 20:42] straumat commented on #885
@hlevel ah you are right... it's not me who wrote this code, have to see why this happened. You seem right, I will fix this

[2022-01-26 20:45] straumat commented on #885
@xblaatx do you have an idea?

[2022-02-08 22:48] #880 closed

[2022-02-12 07:29] kiranpl commented on #846
@straumat, not sure why this bug is not fixed and marked as duplicate of #850 as I also have the same issue as @sebasira.

I am running my bot using Binance with a small amount of real funds of $77. The bot opened a position for FLUX/USDT for **14 FLUX** coins (28.07 USDT) but when the order was executed, the available amount is: **13.98600000 FLUX** as a fees of **0.014 FLUX** was charged. Now wh

[2022-02-12 12:08] sebasira commented on #846
Hi!

From my point of view, this is a border condition that could only happen once, when going all-in in a position and not having more coins of the base or quote currency. What I decided to do, because I didn't get the time to look into this deeply, is not to use the 100% of my coins and leave a tiny amount for fees and to avoid this situation.

What I guess could be simple a solution is not to u

[2022-02-12 12:46] kiranpl commented on #846
Sebastian,

I don't think that this is a one-off case at least in my case. I can see
that I have enough USDT (quoted currency). The issue here as I understand
is that the amount in Close order (14) and the amount bought earlier
doesn't match as the fees has been deducted from that amount. I believe
this is an issue specific to Binance but will happen for every Position.

On Sat, 12 Feb 2022, 12:08

[2022-02-12 14:02] sebasira commented on #846
What I've learnt from using Binance (I don't know about others ) is that the fee is **always** in the base currency. If you buy BTC, the fee is in BTC, if you buy FLUX, the fee is in FLUX. If you sell them (buy USDT) the fee is in USDT

When some open up an account and start trading, most of the time we start by depositing USDT in our account, so the only currency available is USDT.

When you use

[2022-02-13 15:12] straumat commented on #846
@kiranpl HI. Depending on exchanges, you indeed to always have some currency left to pay the fees... I think your problem comes from here. That's why I developed some canSell and canBuy methods with a parameter telling how much money left you would have after the operation.

[2022-02-20 17:12] FrontRunBotPancakeswap opened #911 "This Front Run Bot working good"
Front Run Bot BNB Pancakeswap
0.5 BNB -> Front Run Bot Make 5 BNB per day.
1 BNB -> Front Run Bot Make 15 BNB per day.
5 BNB -> Front Run Bot Make 50 BNB per day.
...500 BNB -> Front Run Bot Make 5000 BNB per day.
More for more profit. Check this proof.
https://frontrunbot.blogspot.com/2022/02/front-run-bot-change-your-life.html

[2022-03-08 13:58] hlevel opened #926 "accountDTO.getAccountId() bug There are some other suggestion"
The new upgraded writing method generates null pointer error when running back online，` accountDTO.getAccountId()` is null, You can go to the xchange framework to see that accountid has no value.
[code]

Recommendation 1:
`TradeServiceXChangeImplementation#createMarketOrder` The timestamp of the order should not use the current time, but should be based on the candle timestamp
[code]
Recommendatio

[2022-03-08 16:14] straumat commented on #926
Hi Hlevel!

Can you tell me on which exchange accountId is set to null ? Thx

Recommendation 1: Ok, i will see if i can set this value at this moment but from what I remember, a new order should always arrive (NEW status) and have the right timestamp no ?
Recommantation 2: You are right that it's not the right place but I was thinking about adding decimal places in the currencyDTO. Do you think ge

[2022-03-09 01:06] hlevel commented on #926
@straumat hi:
`xchange-binance-5.0.13.jar` There is no accountid

Recommendation 1:
Why should we use candle time. In the simulation test, I found that the order time is generated now and can not provide effective information. This is the printing after I changed it

[code]

Recommendation 2:
I added two new methods. One is to judge the minimum submission value of exchange transactions. Added to c

[2022-03-11 15:04] straumat opened #929 "Review spring boot starter API"
- [x] AccountDataFetcherTest.java
- [x] ConfigurationDataFetcherTest.java
- [x] OrderDataFetcherTest.java
- [x] PositionDataFetcherTest.java
- [x] StrategyDataFetcherTest.java
- [x] TradeDataFetcherTest.java
- [x] account.graphqls
- [x] balance.graphqls
- [x] configuration.graphqls
- [x] currency-amount.graphqls
- [x] currency.graphqls
- [x] currency-pair.graphqls
- [x] gain.graphqls
- [x] order.g

[2022-03-14 06:01] hlevel opened #932 "The problem that the order obtained by the exchange is empty"
`TradeServiceXChangeImplementation#getOrders`
This method can get orders in the simulated environment, but it can't find any orders in the real environment. As a result, the order stays in the new status during operation. The improvements are as follows (the binance exchange has been tested)

Before change:
[code]

After modification:
[code]

[2022-03-14 06:10] hlevel opened #933 "Project configuration startup initialization bug"
`ExchangeAutoConfiguration#getExchangeService`
After this method is initialized, springboot will only intercept the execution once.
The use of the getxchangeexchange method causes two different objects.
This was found in a simulated environment
You can try as I give you. Sysout will only print once Prove that two times are not the same object

code:
[code]

[2022-03-14 20:57] straumat commented on #885
@hlevel Hi... while refactoring my code, i think i should focus on cassandre internal beahvioir and extensibility (API and others...). I plan to remove ta4J support and let community create their own code. Would you be interested in creating a ta4J strategy project for Cassandre on top of cassande and maintain it ? I would advertise your project on Cassandre web site

[2022-03-15 01:37] hlevel commented on #885
@straumat Hi. Do you want me to solve ta4j this current problem?
Your current BasicTa4jCassandreStrategy has poor performance. only single currency is supported.
This can only keep the opportunity. You can't take the initiative to find trading opportunities in each currency.
In fact, I built a multi currency indicator class locally based on Cassandre strategy It can help find more currency opportu

[2022-03-15 07:54] straumat commented on #885
@hlevel not exactly. I was thinking about removing Ta4J from Cassandre and, to remove BasicTa4JCassandreStrategy. Cassandre would only manage strategy. If you like it, you could create a new github project that extends Cassandre strategy to better support ta4J ? It would be an independent project I would promote on cassandre website.
This way, I could concentrate on other things and not have to do

[2022-03-15 09:06] hlevel commented on #885
@straumat You can start your refactoring work. I need ta4j I'll expand.

[2022-03-17 21:34] #929 closed

[2022-03-19 09:15] Freeongoo opened #937 "Please add lombok to mvn"
when starting the project and opening the sources, it swears that there is no lombok library. Add it to the repository so that you can more conveniently look at the sources

[2022-03-20 09:32] straumat commented on #937
@Freeongoo can you give me more details on the error please?
When I download the sources from scratch and run maven, everything seems to work correctly and when using Intellij, I also don't see any problem.

[2022-03-20 10:21] straumat opened #938 "Allow historical candles importation"

[2022-03-20 13:22] #938 closed

[2022-03-20 17:44] petrmac commented on #885
@hlevel, I am willing to help. I was looking into ta4j strategy issues as well some time ago, but eventually had not enough capacity to finish that myself. If you are starting a new project on GitHub, please let me know. We can discuss on discord what needs to be done and approach…

[2022-03-20 19:07] Freeongoo commented on #937
@straumat very strange, because when I get all the repositories by mvn and started going into the sources of this project, then  lombok annotations were indicated as an unknown library

[2022-03-20 19:10] Freeongoo opened #939 "add mysql database support"
since in this project it is theoretically possible to connect to any type of relational database, since any driver can be specified in the connection. But the problem is that for MySQL the migration falls on an exception:

[code]

[2022-03-20 20:35] straumat commented on #885
@petrmac You can make an announcement on the discord! I can also talk about your project on cassandre web site

[2022-03-20 20:36] straumat commented on #937
@Freeongoo strange... can I close the issue ?

[2022-03-20 20:38] straumat commented on #939
@Freeongoo I know and i'm having  real problem with that, I think I can't fix it for the moment.
I don't know if your familiar with liquidbase but liquidbase stores an sha of each change. This means I can't change older migration script I created or no migration will every work :( If you have an idea...

[2022-03-20 22:17] #881 closed

[2022-03-21 06:33] Freeongoo commented on #937
@straumat yes you can. I solved this problem by adding lombok dependency to the project

[2022-03-21 06:38] Freeongoo commented on #939
@straumat theoretically, you can make changes to migrations so that they do not affect existing ones, simply by ignoring the code hash check:

[code]

further separating specific migrations indicating for which type of database to apply:

`dbms="mysql"`

if it’s quite simple, then for all existing migrations indicate that this is only for postgresql and add migrations for mysql only

[2022-03-21 07:54] #937 closed

[2022-03-21 16:47] straumat commented on #808
Hi, ta4j will no longer be supported in the next Cassandre release. A group of Cassandre users plans to write and support a ta4j Cassandre strategy project. Ping me if you want to be in that project.

[2022-03-21 16:49] #885 closed

[2022-03-21 16:50] straumat commented on #926
@hlevel did you ahve the same issue with previous releases ?

[2022-03-21 21:20] Freeongoo commented on #939
@straumat yes, this is the only way not to break existing migrations.

[2022-03-22 02:33] hlevel commented on #926
@straumat Yes, at present, my solutions are as follows
[code]

[2022-03-22 20:55] straumat commented on #933
@hlevel this issue is no more present on develop branch.
[code]

[2022-03-22 20:55] #933 closed

[2022-03-22 21:22] straumat commented on #926
@hlevel I just committed a solution for this problem by adding this code to AccountDTO:
[code]
Does it solve your problem ?

[2022-03-23 01:12] hlevel commented on #926
@straumat No problem.thank!

[2022-03-23 08:17] #926 closed

[2022-03-23 20:40] #939 closed

[2022-03-24 08:17] Freeongoo commented on #939
@straumat cool! Thx.

[2022-03-25 11:36] #882 closed

[2022-03-25 12:25] Freeongoo opened #942 "Not correct work when kucoin with empty balance on account"
I registered on a real Kucoin account and registered the correct settings for the API. I haven't credited the account yet, because I just want to check the price subscription. But it turns out that I can not start, because it says that I have the wrong setting, although the setting is correct.

Throw exception:

`Exception encountered during context initialization - cancelling refresh attempt: org

[2022-03-25 12:28] Freeongoo commented on #942
[code]

[2022-03-25 14:25] Freeongoo commented on #942
@straumat that is, if there is no money on my trading account, then I will not be able to launch cassandra just to subscribe to a price change?

[2022-03-26 14:51] Freeongoo commented on #942
@straumat in general, for some reason, this is how kucoin did it. In fact, it works on other exchanges without a deposit. In general, this is not a question for Cassandre. Thanks

[2022-03-26 14:51] #942 closed

[2022-03-28 14:41] Freeongoo opened #944 "Why are volumes not saved in bars?"
Why is the implementation of DurationBarAggregator not saving volumes, because this information may be needed to make a purchase decision

[code]

Volume is always set to zero

[2022-03-28 14:42] straumat commented on #944
@Freeongoo i'm sorry but i'm not competent on ta4J and that's why I will remove my implementation in the 6.0.0 release. You can ask on Cassabdre discord. Lots of peoples are using it.

[2022-03-28 19:25] #944 closed

[2022-03-28 19:29] straumat commented on #932
@hlevel can you make a pull request to see if tests are still working ?

[2022-03-29 02:16] hlevel commented on #932
@straumat  Do you mean that I need to test the revised suggestion by myself and tell you the result?
This is a piece of code that has been verified by me. It is still running in the real environment.

[2022-03-29 11:51] Freeongoo opened #945 "Is it possible to somehow prohibit opening two or more positions in parallel?"
When testing, I often noticed that a situation is possible when two or more positions are opened in parallel. Is it possible to somehow configure so that another position is not opened if there is already one active within the same strategy?

[2022-03-30 11:35] Freeongoo opened #946 "Backtesting strategy ta4j extremely slow"
I have a strategy that trades on 5 minute candles. To improve the test results, I download historical data for 1 minute in order to understand the price movement within 5 minutes. As a result, testing takes a very long time. When testing an interval of half a month - about an hour.

Has this problem been known? Is there any way to speed up testing?

[2022-04-01 21:53] straumat commented on #946
@Freeongoo can you give me the time it takes and the number of tickers your import ?

[2022-04-01 21:55] straumat opened #949 "Cassandre 6.0.0 pre release issues"

[2022-04-01 22:01] straumat commented on #945
@Freeongoo The best way is to add this method inside your strategy:
[code]

[2022-04-02 19:43] Freeongoo commented on #945
@straumat yes, I think it's better to do the check already in my strategy, thanks!

[2022-04-02 19:43] #945 closed

[2022-04-02 19:54] Freeongoo opened #950 "Throw exception when run SimpleTa4jStrategyTest (TickerFluxMock)"
When I run the test, sometimes I get this exception:

[code]

[2022-04-02 20:17] Freeongoo commented on #946
@straumat when testing interval: '20211108-20220124_BTC-USDT_min15.tsv' (7392 candles): 30 min

[2022-04-02 21:41] Freeongoo opened #951 "Is it possible to buy a long position on a limit order"
As far as I understand, the PositionService.createLongPosition method performs a buy on the market, which is not entirely suitable in some situations, especially when the price changes rapidly.

1. Is there an implementation of buying a long position on a limit order?
2. and I still do not quite understand how the sale is performed when a certain price is reached? Also on a market order? or by tak

[2022-04-04 21:56] Freeongoo opened #954 "Not work DRY mode with real connect to api kucoin"
If you turn off the DRY mode, then everything works and information about the accounts is obtained.

If you turn on the DRY mode, then when you try to connect to kucoin, it says that there is not a account.

Display:

[code]

[2022-04-05 12:51] Freeongoo commented on #954
work if add in
/src/main/resources/user-trade.tsv

[2022-04-05 12:51] #954 closed

[2022-04-05 20:39] straumat commented on #951
@Freeongoo
1- Nope.
2- When a ticker arrives with a price corresponding to the position rulses you setup, Cassandre automatically issue a market order

[2022-04-05 20:40] straumat commented on #950
did you check if you don't have several tickers files in target directory ? DId you rename them ? Can you try a maven clean ?

[2022-04-05 20:41] straumat commented on #946
Ok, i never made such bit tests :( I will check but I don't see how I could go faster as each treatment must be done before sending a new ticker...

[2022-04-06 06:57] Freeongoo commented on #950
@straumat used only one file, I adjusted it to specify a specific file during the test. But this error falls extremely rarely, but it happens.

[2022-04-06 06:58] Freeongoo commented on #951
@straumat thanks I got it.

[2022-04-06 06:58] #951 closed

[2022-04-06 21:21] Freeongoo opened #955 "How to add a new CurrencyDTO"
How to add a new CurrencyDTO, like 'SOL' or 'ZIL'?
since they are in kucoin but not in this DTO, is it allowed to add new ones or is this not provided for?

[2022-04-07 08:48] straumat commented on #955
@Freeongoo just do `private static final CurrencyDTO SOL = new CurrencyDTO("SOL");`
You can also create a merge request to add it to our constants.

[2022-04-09 21:24] straumat commented on #955
@Freeongoo  if it works, you can close ? thx

[2022-04-09 21:28] straumat commented on #950
Ok code has been refactored in the future 6.0.0 - I close it but will check on the candidate release version I'm running

[2022-04-09 21:28] #950 closed

[2022-04-10 15:42] sjarrin opened #956 "Questions about strategy set up with custom indicators"
Hi,

First, thanks a lot for this wonderful job.

Here is my problem: I'm writing a strategy where positions exit and stop loss prices are precisely calculated when opening the position by custom indicators I wrote.
Doing that I'm facing some difficulties to write it, maybe due to the fact that I don't know the project very well and I did not find answer in the documentation.

Here are my question

[2022-04-11 11:35] Studentsm opened #964 "liquibase:Error creating bean with name 'liquibase'"
**Release number**
Cassandre v5.0.8

**Describe the bug**
org.springframework.beans.factory.BeanCreationException : Error creating bean with name 'liquibase' defined in class path resource [org/springframework/boot/autoconfigure/liquibase/LiquibaseAutoConfiguration$LiquibaseConfiguration.class]: Invocation of init method failed; nested exception is liquibase.exception.LiquibaseException: liquibase

[2022-04-11 11:52] Studentsm commented on #964
Reason: liquibase.exception.DatabaseException: unknown token:  [Failed SQL: (-5582) ALTER TABLE PUBLIC.EXCHANGE_ACCOUNTS ALTER COLUMN ID bigint GENERATED BY DEFAULT AS IDENTITY (START WITH ١)]

[2022-04-11 19:18] straumat commented on #956
Thx @sjarrin !!!
Nope, I did not yet developed rules based on amount :( so the best option is indeed to create orders directly yes. Depending on your exchange, you can create limit order so it would automatically be sold and the price you calculated. You can do that with long and short

[2022-04-11 19:18] straumat commented on #964
@Studentsm can you tell me what database you configured ?

[2022-04-11 19:43] straumat commented on #932
@hlevel Ok, I will integrate this but in the next release because I have to update Cassandre mocks to make tests pass and I have to test the behavior on the exchanges I support with production tests (coinbase, kucoin and Binance)

[2022-04-12 09:35] Studentsm commented on #964
I ran ta4j-strategy on https://trading-bot.cassandre.tech/learn/technical-analysis.html#create-your-project
it is  hsqldb: /spring.datasource.url=jdbc:hsqldb:mem:cassandre-database/

[2022-04-12 09:44] Studentsm commented on #964
I test this On NetBeans and IntelliJ  it is same problem

[2022-04-12 09:45] Studentsm commented on #964
Where can I find OS encoding

[2022-04-12 09:46] straumat commented on #964
@straumat can you type `mvn test` in the project folder on the command line?

[2022-04-12 10:05] Studentsm commented on #964
it return:
`[INFO] Scanning for projects...
[INFO]
[INFO] -----------------------< com.anon:ta4j-strategy >-----------------------
[INFO] Building ta4j-strategy 1.0-SNAPSHOT
[INFO] --------------------------------[ jar ]---------------------------------
[INFO]
[INFO] --- maven-resources-plugin:2.6:resources (default-resources) @ ta4j-strategy ---
[INFO] Using 'UTF-8' encoding to copy filtered reso

[2022-04-12 15:25] straumat opened #966 "Setup a new website"

[2022-04-12 20:58] straumat commented on #964
SO stange... can you make a try on another computer ? which java release are you using ?

[2022-04-13 06:24] Studentsm commented on #964
Yes I will try, I tested using JDK 11 , JDK 17

[2022-04-16 11:12] AukeRoze opened #967 "Give your own price to the createShortPosition & createLongPosition"
At the moment it is not possible to give your own price to this function (createShortPosition  & createLongPosition). Sometimes you want to place a long position at a different price at a certain point in time.

[2022-04-20 14:49] straumat commented on #967
@AukeRoze when you create a position, it creates an order immediately. This is how I get the price. If you set the price yourself, the gains and rules calculated may be different from reality no ?

[2022-04-22 15:38] #955 closed

[2022-04-22 15:38] #956 closed

[2022-04-22 15:39] #949 closed

[2022-04-23 10:41] mujicadiazr opened #970 "Any refactoring idea to achieve regular stocks trading?"
Hi @straumat

First of all, thanks for such a great solution! :1st_place_medal:  The business domain design is really solid, also the Reactive Programming part, and overall a great solution in general.

Since I'm not yet into crypto, I'd like to adapt it to trade regular stocks where many crypto concepts like `CurrencyPairDTO` don't apply.

What would be the best refactoring approach to achieve th

[2022-04-23 17:27] straumat commented on #970
@mujicadiazr thanks a lot :)
From my point of view, I would create something call `Instrument` that looks similar to `CurrencyPairDTO` that will be used as argument everywhere. XChange has done it. It should work in a similar way. Then, you have to implement the service here : [services](https://github.com/cassandre-tech/cassandre-trading-bot/tree/development/spring-boot-starter/autoconfigure/src/

[2022-04-23 22:08] mujicadiazr commented on #970
@straumat Thanks for your answer.
 Yeah, that's what I was thinking. Is there any other critical business concept that is coupled to crypto?

[2022-04-23 22:14] straumat commented on #970
@mujicadiazr with crypto, when you start, the balance API will return for example that you own 1000 USDT. If you buy some bitcoin, the balance API will return your USDT amount and your bitcoin amount which allows me to implement canBuy() and canSell() methods. With other systems, maybe you have another API to call to know all the assets you have (other than balance API).
Aside from that, I don't t

[2022-04-23 22:28] mujicadiazr commented on #970
I think most of the business logic is equivalent to regular Stocks Exchanges, I just wanted to isolate everything is `crypto-related `so I have a good picture of what is needed. For regular Stocks Brokers there is definitely a Balance API to query your balance.

[2022-04-24 15:30] #970 closed

[2022-05-22 16:05] straumat commented on #966
**Last review before release**
- [ ] trading_basics/what-is-trading.md
- [ ] trading_basics/what-is-an-order.md
- [ ] trading_basics/what-is-a-cryptocurrency.md
- [ ] trading_basics/what-is-a-ticker.md
- [ ] trading_basics/what-is-an-exchange.md
- [ ] trading_basics/what-is-an-account.md
- [ ] guides/configuration/how-to-fix-common-problems.md
- [ ] guides/configuration/exchange-connection-configu

[2022-05-26 15:01] #966 closed

[2022-05-27 00:37] ricardo-zenki opened #994 "Limit Order - Invalid Quantity"
**Release number**
Present in 5.0.8 and 6.0.0

**Describe the bug**

I am getting an error when I place a Limit order:

`2022-05-26 18:54:44,182 DEBUG [cassandre-flux-2] tech.cassandre.trading.bot.service.TradeServiceXChangeImplementation: Sending limit order: ASK - BTC/USDT - 0
org.knowm.xchange.exceptions.OrderNotValidException: Invalid quantity. (HTTP status code: 400)
	at org.knowm.xchange.bin

[2022-05-27 00:47] ricardo-zenki opened #995 "Liquibase migration fails with MySQL 8.0.27 Database"
**Release number**
5.0.8 & 6.0.0

**Describe the bug**

I am getting an error with liquibase migration, it seems that it requires additional information inside the migration script in order to work properly with MySQL:

`
2022-05-26 19:40:03,796 WARN  [main] org.springframework.context.support.AbstractApplicationContext: Exception encountered during context initialization - cancelling refresh atte

[2022-05-27 01:20] ricardo-zenki commented on #995
I just take a look into the db/changelog/db.changelog-4.1.0.xml file and it contains the columnDataType for each renameColumn, I was looking for other causes/solutions in stackoverflow but unfortunately I haven't luck.

[2022-05-27 01:23] #995 closed

[2022-05-27 01:25] ricardo-zenki commented on #939
Hello, I am having this issue... do I have to change anything in my configuration to avoid the error? Thanks!

[2022-05-27 11:30] straumat commented on #995
@ricardo-zenki I will investigate this. Indeed, before we had an issue because columnDataType was not set but it is supposed to be fixed with this : https://github.com/cassandre-tech/cassandre-trading-bot/issues/939

[2022-05-30 06:45] straumat commented on #994
@ricardo-zenki sorry for the delayed reply, i try to fix this tonight !

[2022-05-30 12:26] straumat commented on #994
In your logs, I can see: `Sending limit order: ASK - BTC/USDT - 0` and the error returned by the exchange is `Invalid quantity`.

This means that Cassandre sends a 0 quantity.

- Can you give the parameter value you are using for quantity?
- Can you tell me show me how you create the currency pair?

Thx. I think it comes from this method I use: `amount.setScale(currencyPair.getBaseCurrencyPrecisio

[2022-05-30 12:27] straumat commented on #967
Automatically closing issue (1 month inactivity)

[2022-05-30 12:27] #967 closed

[2022-05-30 12:28] straumat commented on #946
Removed ta4j support - Will work on speed improvement on another ticket

[2022-05-30 12:28] #946 closed

[2022-05-30 12:44] #932 closed

[2022-05-30 14:26] ricardo-zenki commented on #994
Adjusting the precision didn't work either:

[code]

[2022-05-30 14:47] straumat commented on #994
@ricardo-zenki I found the problem. Indeed, it comes from the mapper who is using the builder and not the constructor for the events method (onTickersUpdates()).

I will fix this but you can already make it work by declaring `new CurrencyPairDTO(CurrencyDTO.BTC,CurrencyDTO.USDT)` as a class variable and using this value instead of `ticker.getCurrencyPair()` when calling `createSellLimitOrder`.

[2022-05-30 14:52] ricardo-zenki commented on #994
All right! Thank you!

[2022-05-30 18:53] #994 closed

[2022-08-14 15:51] rkamalakannan opened #1035 "Caused by: java.lang.IllegalArgumentException: Illegal base64 character 2d"
**Release number**
Cassandre release you are using. 6.0.0

**Describe the bug**
A clear and concise description of what the bug is.
Caused by: java.lang.IllegalArgumentException: Illegal base64 character 2d
Trying to use Kraken Exchange using Cassendre. I have configured the app.properties like below as per the guides.

cassandre.trading.bot.exchange.driver-class-name=org.knowm.xchange.kraken.Krak

[2022-08-15 17:19] #1035 closed

[2022-08-15 17:20] rkamalakannan commented on #1035
It works ..  Issue with API Permissions!

[2022-08-15 23:23] jechaviz opened #1038 "Possible bug."
**Release number**
6.0.0

**Describe the bug**
After start, these errors are thrown.
02:18:11.958 ERROR AccountFlux encountered an error Cannot invoke "reactor.core.publisher.FluxSink.next(Object)" because "this.fluxSink" is null
02:18:12.708 ERROR TickerFlux encountered an error Cannot invoke "reactor.core.publisher.FluxSink.next(Object)" because "this.fluxSink" is null

**To Reproduce**
pom.xml:

[2022-08-17 20:39] straumat commented on #1038
Are you using java 17 ?

[2022-08-17 20:41] jechaviz commented on #1038
Yes, this is the information:

java 17.0.2 2022-01-18 LTS
Java(TM) SE Runtime Environment (build 17.0.2+8-LTS-86)
Java HotSpot(TM) 64-Bit Server VM (build 17.0.2+8-LTS-86, mixed mode, sharing)

![image](https://user-images.githubusercontent.com/6210208/185238957-3bf398f2-868d-4e34-9084-c0e46aa45368.png)

[2022-08-17 20:43] straumat commented on #1038
Can you try a `mvn test` and copy the full stack trace error ? THx

[2022-08-17 20:47] jechaviz commented on #1038
I ran it and got this:
`[INFO] Scanning for projects...
[INFO]
[INFO] ----------------------< bot:linnear-channels-bot >----------------------
[INFO] Building linnear-channels-bot 1.0-SNAPSHOT
[INFO] --------------------------------[ jar ]---------------------------------
Downloading from central: https://repo.maven.apache.org/maven2/org/apache/maven/plugins/maven-resources-plugin/2.6/maven-resour

[2022-08-17 20:50] straumat commented on #1038
very strange.... can you do it again with the `-U` option please ?

[2022-08-17 21:52] jechaviz commented on #1038
Apache Maven 3.8.6 (84538c9988a25aec085021c365c560670ad80f63)
Maven home: C:\Program Files\apache-maven-3.8.6
Java version: 17.0.2, vendor: Oracle Corporation, runtime: C:\Program Files\Java\jdk-17.0.2
Default locale: es_MX, platform encoding: Cp1252
OS name: "windows 10", version: "10.0", arch: "amd64", family: "windows"

Too much lines before, but these are teh results_
[INFO] Results:
[INFO]
[I

[2022-08-17 21:54] jechaviz commented on #1038
16:21:57.826 WARN spring.jpa.open-in-view is enabled by default. Therefore, database queries may be performed during view rendering. Explicitly configure spring.jpa.open-in-view to disable this warning
16:22:03.371 ERROR TickerFlux encountered an error Cannot invoke "reactor.core.publisher.FluxSink.next(Object)" because "this.fluxSink" is null
16:22:30.756 ERROR TickerFlux encountered an error Can

[2022-08-17 22:04] straumat commented on #1038
set cassandre.trading.bot.exchange.modes.dry to false in src/main/ressources and try to run your bot again

[2022-08-17 22:10] jechaviz commented on #1038
cassandre.trading.bot.exchange.modes.dry=false
same results

[2022-08-20 23:56] jechaviz commented on #1038
I tried with 5.0.8 and it gives me this detail:
java.lang.NullPointerException: Cannot invoke "reactor.core.publisher.FluxSink.next(Object)" because "this.fluxSink" is null
	at tech.cassandre.trading.bot.util.base.batch.BaseFlux.emitValues(BaseFlux.java:67)
	at tech.cassandre.trading.bot.util.base.batch.BaseFlux.update(BaseFlux.java:76)
	at tech.cassandre.trading.bot.configuration.ScheduleAutoConf

[2022-08-23 07:25] straumat commented on #1038
@jechaviz Can you try on another computer ? It's very strange as I don't have this problem on my computer and on my CI.
Also, can you put the sources where I could download them and try by myself ? (REMOVE YOUR CREDENTIALS !))

[2022-09-02 17:37] andriy2011 opened #1047 "Strategy based on custom TradingView indicators"
Greetings!
I'm sorry I this topic has been already address but I couldn't find any reference.

For example - I have my own custom TradingView indicator that triggers(vie webhook for ie) an event when to buy/sell.
Is it possible to integrate your bot with "external" strategy?

Thanks a lot!

[2022-09-04 13:44] straumat commented on #1047
@andriy2011 Hi  ! well, i don't include this option of i's your own java code that will make the bot so you can call any API or software from your bot

[2022-09-04 23:08] jechaviz commented on #1038
You can download the source code from here:
https://store5.gofile.io/download/e94507ce-b9d2-4726-bf71-a83dbcbfb6ca/LinnearChannelsBot.zip

Thank you.

[2022-09-05 07:03] straumat commented on #1038
@jechaviz it runs on my computer :
[code]

[2022-11-25 17:07] #1038 closed

[2022-11-25 17:08] #1047 closed